.main{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.block{

    height: 300px;

    width: 15%;
    border: black 1px solid;
}
.text1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 60px;
}
.text2{
color: gray;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.learn_more{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 60%;
    border: black 1px solid;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
