.widgets{
    background: cornflowerblue;
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.block_widgets{
    display: flex;
   column-gap: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.content_widget{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 31%;
    background: #5353de;
    color: white;
    font-size: 30px;
}
.contact{
    background: cornflowerblue;
    color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}